requests
beautifulsoup4
pyyaml
pydub
pandas
aiohttp
asyncio
nest_asyncio
openai
elevenlabs
langchain
langchain_openai
langchain_together
langchain_community
langchainhub
langchain-openai
faiss-cpu
pypdf
"unstructured[all-docs]"
nltk
boto3
together
tiktoken
fal-client
